@model Maps.Entities.CreateMapViewModel

<div class="card" id="newMap">
    @using (Ajax.BeginForm("Create", "Map", null, new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "newMap" }, new { id = "createMap", @class = "m-1" }))
    {
        @Html.AntiForgeryToken()
        <span>&nbsp;</span>
        @Html.LabelFor(model => model.Name)
        <span>:&nbsp;</span>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { autofocus = "autofocus" } })
        <div class="float-right">
            <input type="submit" value="Save" class="btn btn-link" />
            <span>|</span>
            @Ajax.ActionLink("Discard", "AddMap", null, new AjaxOptions { UpdateTargetId = "newMap", InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "get" }, new { @class = "btn btn-link" })
        </div>
        if (!Html.ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        }
    }
</div>
