@model PagedList.IPagedList<Maps.Entities.ListItemMapViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Maps";
}

<div class="card my-3">
    <div class="card-header">
        <h3 class="card-title m-0">@ViewBag.Title</h3>
    </div>
    <div class="card-body">
        @if (!Html.ViewData.ModelState.IsValid)
        {
            <div class="card">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        }
        @Html.Partial("AddMap", new ViewDataDictionary())
        @foreach (var item in Model)
        {
            @Html.Partial("ListItem", item)
        }
        @if (@Model.PageCount > 1)
        {
            <div class="text-center">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
            </div>
        }
    </div>
</div>