@model Maps.Entities.DetailsMapViewModel
@{ ViewBag.Title = "Details"; }

<div class="card h-100">
    <div class="card-header pr-0">
        <big class="font-weight-bold">
            @Html.DisplayFor(model => model.Name)
        </big>
        @Html.ActionLink("Back to list", "Index", "Map", null, new { @class = "btn btn-link float-right pt-1 text-right" })
    </div>
    @if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="card">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    }
    <div class="" id="accordion">
        @Html.Partial("../Layer/AddLayer", new Maps.Entities.DetailsLayerViewModel(Model.Id))
        @foreach (var layer in Model.Layers)
        {
            @Html.Partial("../Layer/Details", layer);
        }
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $("#@string.Concat("upload", Model.Id)").submit(function (event) {
            event.preventDefault();
            var dataString = new FormData($("#@string.Concat("upload", Model.Id)").get(0));
            $.ajax({
                type: "POST",
                url: "Layer/LoadData",
                data: dataString,
                contentType: false,
                processData: false,
            });
        });
    });

    $(".dropdown-menu li").mouseenter(function () {
        $(this).addClass("bg-light");
        $(this).css("cursor", "pointer")
    });
    $(".dropdown-menu li").mouseleave(function () {
        $(this).removeClass("bg-light");
        $(this).css("cursor", "")
    });

    function updateIcon(layerId, icon) {
        $.ajax({
            type: "post",
            url: "../../Layer/SelectIcon",
            data: {
                Id: layerId,
                Icon: icon
            }
        }).done(function (response) {
            $('#selectIcon' + layerId).replaceWith(response);
            updateMap();
        });
    }

    function updateVisibility(layerId, visible) {
        $.ajax({
            type: "post",
            url: "../../Layer/SetVisibility",
            data: {
                Id: layerId,
                IsVisible: visible
            }
        }).done(function (response) {
            $('#layerVisibility' + layerId).replaceWith(response);
            updateMap();
        });
    }

    function updatePublic(mapId, public) {
        $.ajax({
            type: "post",
            url: "../SetPublic",
            data: {
                Id: mapId,
                IsPublic: public
            }
        }).done(function (response) {
            $('#mapPublic' + mapId).replaceWith(response);
        });
    }

    function updateVisibility(layerId, visible) {
        $.ajax({
            type: "post",
            url: "../../Filter/SetVisibility",
            data: {
                Id: layerId,
                IsVisible: visible
            }
        }).done(function (response) {
            $('#layerVisibility' + layerId).replaceWith(response);
            updateMap();
        });
    }
</script>