@model Maps.Entities.DetailsCollapseLayerViewModel

<div id="@string.Concat("collapse", Model.Id)" class="collapse card" aria-labelledby="@string.Concat("heading", Model.Id)">
    <div class="card-body">
        @if (!Html.ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        }
        @if (Model.HasData)
        {
            @Model.Id
        }
        else
        {
            var onComplete = string.Concat("dataLoadComplete('", Model.Id, "')");
            using (Ajax.BeginForm("LoadData", "Layer", null,
                                new AjaxOptions { HttpMethod = "post", UpdateTargetId = string.Concat("collapse", Model.Id), InsertionMode = InsertionMode.ReplaceWith, OnComplete = onComplete },
                                new { enctype = "multipart/form-data", id = string.Concat("upload", Model.Id) }))
            {
                <span>File</span>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.HasData)
                <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                <input type="file" name="DataFile" id="DataFile" required />
                <input type="submit" value="Load" class="btn btn-link" />
            }
        }
    </div>
</div>

