@model Maps.Entities.DetailsCollapseLayerViewModel

<div id="@string.Concat("collapse", Model.Id)" class="collapse card" aria-labelledby="@string.Concat("heading", Model.Id)">
    @if (Model.HasData)
    {
        @Html.Action("Filter", "Layer", new { id = Model.Id })
    }
    else if (Model.HasColumns)
    {
        <div id="@string.Concat("schema", Model.Id)">
            @Html.Partial("../Layer/LoadData", new Maps.Entities.LoadDataViewModel(Model.Id))

        </div>
    }
    else
    {
        <div id="@string.Concat("schema", Model.Id)">
            @Html.Partial("../Schema/DisplayForm", new Maps.Entities.FormSchemaViewModel(Model.Id))
        </div>
    }
</div>

