@model Maps.Entities.DetailsLayerViewModel

<div id="@string.Concat("layer", Model.Id)">
    <div class="card" id="@string.Concat("heading", Model.Id)">
        @using (Ajax.BeginForm("Delete", "Layer", null, new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = string.Concat("layer", Model.Id) }))
        {
            <button class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="@string.Concat("#collapse", Model.Id)" aria-expanded="true" aria-controls="@string.Concat("collapse", Model.Id)">
                @Model.Name
            </button>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Name)
            @Html.HiddenFor(m => m.MapId)
            @Html.HiddenFor(m => m.Id)
            <div class="float-right">
                @Ajax.ActionLink("Edit", "Edit", "Layer", new { id = Model.Id }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = string.Concat("layer", Model.Id), InsertionMode = InsertionMode.ReplaceWith }, new { @class = "btn btn-link" })
                <span>|</span>
                <input type="submit" value="Delete" class="btn btn-link" />
            </div>
        }
    </div>
    <div id="@string.Concat("collapse", Model.Id)" class="collapse" aria-labelledby="@string.Concat("heading", Model.Id)" @*data-parent="#accordion"*@>
        <div class="card-body">
            @Model.Id
            @Model.MapId
        </div>
    </div>
</div>