@model Maps.Entities.FilterViewModel

@using (Ajax.BeginForm("Update", "Filter", null,
                        new AjaxOptions { HttpMethod = "post", UpdateTargetId = string.Concat("filter", Model.Id), InsertionMode = InsertionMode.Replace }))
{
    if (!Html.ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    }

    <span class="font-weight-bold">@Model.Name</span>
    @Html.HiddenFor(m => m.Name)
    <input type="hidden" name="Id" id="Id" value="@Model.Id" />
    @Html.CheckBoxFor(m => m.IsVisible)
    <input type="submit" value="Update filter" class="btn btn-link float-right" />
}