@model IList<Maps.Entities.IFilterViewModel>

<ul class="list-group list-group-flush">
    @if (!Html.ViewData.ModelState.IsValid)
    {
        <li class="list-group-item">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </li>
    }
    @foreach (var item in Model)
    {
        <li class="list-group-item p-0 pl-3" id="@string.Concat("filter", item.Id)">
            @switch (item.Type)
            {
                case Maps.Entities.FilterType.RANGE:
                    {
                        @Html.Partial("../Filter/Range", item)
                        break;
                    }
                case Maps.Entities.FilterType.UNIQUE_LIST:
                    {
                        @Html.Partial("../Filter/UniqueList", item)
                        break;
                    }
                case Maps.Entities.FilterType.DISTANCE:
                    {
                        @Html.Partial("../Filter/Distance", item)
                        break;
                    }
            }
        </li>
    }
</ul>