@model Maps.Entities.DetailsMapViewModel

@{
    ViewBag.Title = "Details";
}

<div class="card mt-3">
    <div class="card-header">
        <h2 class="card-title">@ViewBag.Title</h2>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>@Html.DisplayNameFor(model => model.Name):</strong>
            @Html.DisplayFor(model => model.Name)
        </li>
        <li class="list-group-item">
            <strong>@Html.DisplayNameFor(model => model.CreationTime):</strong>
            @Model.CreationTime.ToLocalTime()
        </li>
    </ul>
    <div class="card-body text-right">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
