<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/1d590cac1f.js"></script>
</head>
<body background="~/Content/Images/background.png"
      class="d-flex flex-column h-100">
    <header class="bg-white">
        <nav class="container navbar navbar-expand-lg navbar-light">
            @Html.ActionLink("Map", "Index", "Home", new { area = "" }, new { @class = "navbar-brand mr-auto" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    @if (Request.IsAuthenticated && User.IsInRole("User"))
                    {
                        <li class="nav-item">
                            @Html.ActionLink("My maps", "Index", "Map", new { }, new { @class = "nav-link" })
                        </li>
                    }
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </nav>
    </header>
    <main class="@(Url.RequestContext.RouteData.Values["controller"].Equals("Map") && Url.RequestContext.RouteData.Values["action"].Equals("Details") ? "" : "container")">
        @if (!Html.ViewData.ModelState.IsValid)
        {
            <div class="card bg-danger mt-3 p-0">
                @Html.ValidationSummary(true, "", new { @class = "pt-2" })
            </div>
        }
        @RenderBody()
    </main>
    <footer class="footer mt-auto py-3 bg-white">
        <div class="container h-100">
            &copy; @DateTime.Now.Year - Maps - Marija Kostić
        </div>
    </footer>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
