<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval") @*For validate and validate-unobtrusive*@
    @Scripts.Render("~/bundles/jqueryunobtrusive") @*For unobtrusive-ajax*@

    <script src="https://kit.fontawesome.com/1d590cac1f.js"></script>
</head>
<body background="~/Content/Images/background.png"
      class="d-flex flex-column h-100">
    @if (!Url.RequestContext.RouteData.Values["controller"].Equals("Map") || !Url.RequestContext.RouteData.Values["action"].Equals("Details"))
    {
       @Html.Partial("~/Views/Home/HomeHeaderPartial.cshtml");
    }
    else
    {

    }
    <main class="@(Url.RequestContext.RouteData.Values["controller"].Equals("Map") && Url.RequestContext.RouteData.Values["action"].Equals("Details") ? "container-fluid w-100" : "container")">
        @if (!Html.ViewData.ModelState.IsValid)
        {           
            @Html.ValidationSummary(true, "", new { @class = "text-danger mt-3 " })         
        }
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="validation-summary-errors pt-2 mt-3 card bg-danger">
                <ul>
                    <li>@ViewBag.Error</li>
                </ul>
            </div>
        }
        @RenderBody()
    </main>
    <footer class="footer mt-auto py-3 bg-white">
        <div class="container h-100">
            &copy; @DateTime.Now.Year - Maps - Marija Kostić
        </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
