@using Microsoft.AspNet.Identity
@model Maps.Entities.ManageIndexViewModel
@{
    ViewBag.Title = "Manage your account settings";
}

<div class="card mt-3">
    <div class="card-header">
        <h2 class="card-title">@ViewBag.Title</h2>
    </div>

    <ul class="list-group list-group-flush">
        @if (ViewBag.StatusMessage != null && ViewBag.StatusMessage != "")
        {
            <li class="list-group-item text-success">@ViewBag.StatusMessage</li>
        }
        <li class="list-group-item">
            Username: [ @User.Identity.GetUserName() ]
        </li>
        <li class="list-group-item">
            Password:
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </li>
        <li class="list-group-item">
            External Logins:
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </li>
    </ul>
</div>
