@using Microsoft.AspNet.Identity
@model Maps.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account settings";
}

<div class="card mt-5">
    <div class="card-header">
        <h2 class="card-title">@ViewBag.Title</h2>
    </div>

    <ul class="list-group list-group-flush">
        @if (ViewBag.StatusMessage != null && ViewBag.StatusMessage != "")
        {
            <li class="list-group-item text-success">@ViewBag.StatusMessage</li>
        }
        <li class="list-group-item">
            Username: [ @User.Identity.GetUserName() ]
        </li>
        <li class="list-group-item">
            Password:
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </li>
        <li class="list-group-item">
            External Logins:
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </li>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*
            <dt class="col">Phone Number:</dt>
            <dd class="col">
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
            <dt class="w-100"></dt>
        *@
        @*<dt class="col">Two-Factor Authentication:</dt>
            <dd class="col">*@
        @*<p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
        @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }*@
        @*</dd>*@
    </ul>
</div>
