@model Maps.Entities.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Manage your external logins";
}

<div class="card mt-5">
    <div class="card-header">
        <h2 class="card-title">@ViewBag.Title</h2>
    </div>

    <ul class="list-group list-group-flush">
        @if (ViewBag.StatusMessage != null && ViewBag.StatusMessage != "")
        {
            <li class="list-group-item text-success">@ViewBag.StatusMessage</li>
        }

        @{
            var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
            if (Model.CurrentLogins.Count > 0)
            {
                <li class="list-group-item">
                    Remove login providers:
                    @foreach (var account in Model.CurrentLogins)
                    {
                        if (ViewBag.ShowRemoveButton)
                        {
                            using (Html.BeginForm("RemoveLogin", "Manage", FormMethod.Post, new { @class = "d-inline" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("loginProvider", account.LoginProvider)
                                @Html.Hidden("providerKey", account.ProviderKey)
                                <input type="submit" class="btn btn-outline-primary" value="@account.LoginProvider" title="Remove this @account.LoginProvider login from your account" />
                            }
                        }
                    }
                </li>
            }
            if (Model.OtherLogins.Count > 0)
            {
                <li class="list-group-item">
                    Add login provider:
                    @using (Html.BeginForm("LinkLogin", "Manage", FormMethod.Post, new { @class = "d-inline" }))
                    {
                        @Html.AntiForgeryToken()
                        foreach (AuthenticationDescription p in Model.OtherLogins)
                        {
                            <button type="submit" class="btn btn-outline-primary" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                        }
                    }
                </li>
            }
        }
    </ul>
</div>

