<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")

    <script src="https://kit.fontawesome.com/1d590cac1f.js"></script>
</head>
<body background="~/Content/Images/background.png"
      class="d-flex flex-column h-100">
    @if (!Url.RequestContext.RouteData.Values["controller"].Equals("Map") || !Url.RequestContext.RouteData.Values["action"].Equals("Details"))
    {
        @Html.Partial("~/Views/Home/HomeHeaderPartial.cshtml");
    }
    <main class="@(Url.RequestContext.RouteData.Values["controller"].Equals("Map") && Url.RequestContext.RouteData.Values["action"].Equals("Details") ? "container-fluid h-100" : "container")">
        @RenderBody()
    </main>
    @if (!Url.RequestContext.RouteData.Values["controller"].Equals("Map") || !Url.RequestContext.RouteData.Values["action"].Equals("Details"))
    {
        <footer class="footer mt-auto py-3 bg-white card">
            <div class="container h-100 align-middle">
                &copy; @DateTime.Now.Year - Maps - Marija Kostić
            </div>
        </footer>
    }
</body>
</html>
