@model Maps.Entities.DetailsMapViewModel

<div class="card" id="@string.Concat("map", Model.Id)">
    @using (Ajax.BeginForm("Delete", "Map", null, new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = string.Concat("map", Model.Id) }, new { id = string.Concat("deleteForm", Model.Id), @class = "" }))
    {
        @Html.ActionLink(Model.Name, "MapDetails", new { id = Model.Id }, new { @class = "btn btn-link" })
        <span>[</span>
        @Model.CreationTime.ToLocalTime()
        <span>]</span>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CreationTime)
        @Html.HiddenFor(m => m.Name)
        <div class="float-right">
            @Ajax.ActionLink("Edit", "Edit", new { id = Model.Id }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = string.Concat("map", Model.Id.ToString()), InsertionMode = InsertionMode.ReplaceWith }, new { @class = "btn btn-link" })
            <span>|</span>
            <input type="submit" value="Delete" class="btn btn-link"/>
            <span>&nbsp;</span>
        </div>
    }
</div>