@model PagedList.IPagedList<Maps.Entities.DetailsMapViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Maps";
}

<div class="card mt-3">
    <div class="card-header">
        <h3 class="card-title m-0">@ViewBag.Title</h3>
    </div>
    <div class="card-body">      
        @Html.Partial("CreateButton", new ViewDataDictionary())   
        @foreach (var item in Model)
        {
            @Html.Partial("Details", item)
        }
        @if (@Model.PageCount > 1)
        {
            <div class="text-center">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
            </div>
        }
    </div>
</div>