@model Maps.Entities.FormSchemaViewModel
@using (Ajax.BeginForm("DisplayForm", "Schema", null,
                         new AjaxOptions { HttpMethod = "post", UpdateTargetId = string.Concat("schema", Model.LayerId) },
                         new { @class = "inline-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.LayerId)
    @Html.LabelFor(model => model.NumColumns)
    <span>:&nbsp;</span>
    @Html.EditorFor(m => m.NumColumns, new { htmlAttributes = new { autofocus = "autofocus" } })
    <div class="float-right">
        <input type="submit" value="Save" class="btn btn-link" />
    </div>
}
@if (!Html.ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
}
